<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<div th:replace="~{controle :: import}"></div>
	<title>CRUD Livro</title>
</head>
<style>
	table,
	th,
	td {
		border: 1px solid black;
		text-align: center;
	}
</style>

<body>


	<div th:replace="~{controle :: header}"></div>
	<div class="row">
		<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">

			<div th:replace="~{controle :: sidebar}"></div>
			<div th:replace="~{controle :: icones}"></div>

		</div>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div th:if="${livro_add != null}">
				<script th:inline="javascript">
					document.addEventListener('DOMContentLoaded', function () {
						document.getElementById('tituloAdd').value = '';
					});
				</script>
				<h1>Registrar Livro</h1>
				<form action="#" th:action="@{/livro/add}" th:object="${livro_add}" method="post">
					<fieldset>
						<legend>Insira os valores</legend>
						<p>
							<label for="Titulo">Título</label> <input type="text" name="titulo" id="tituloAdd"
								th:field="*{titulo}" required />
						</p>
						<p>
							<label for="Autor">Autor</label> <input type="text" name="autor" id="autor" required />
						</p>
						<p>
							<label for="Genero">Gênero</label> <input type="text" name="genero" id="genero"
								th:field="*{genero}" required />
						</p>
						<p>
							<label for="qtdPaginas">Quantidade de Páginas</label> <input type="number" name="qtdPaginas"
								id="qtdPaginas" th:field="*{qtdPaginas}" min="1" required />
						</p>
						<p>
							<label for="Preco">Preço</label> <input type="number" name="preco" id="preco"
								th:field="*{preco}" min="1" required />
						</p>
						<p>
							<button type="submit">Registrar</button>
						</p>

					</fieldset>
				</form>
				<div th:if="${respostaAdd != null}">
					<span th:text="${respostaAdd}"></span>
				</div>

			</div>

			<div th:if="${livro_lista != null}">
				<h2>Buscar Livro</h2>
				<form th:action="@{/livro/buscaTitulo}" method="post">
					<p>
						<label for="titulo">Titulo</label> <input type="text" name="titulo" id="titulo" required />

						<button type="submit">Buscar</button>
					</p>
				</form>

				<h1>Lista de Livros</h1>
				<table>
					<tr>
						<th>Id</th>
						<th>Título</th>
						<th>Autor</th>
						<th>Gênero</th>
						<th>Quantidade de Páginas</th>
						<th>Preço</th>
					</tr>
					<tr th:each="livro : ${livro_lista}" th:if="${livro.titulo != null}">
						<td th:text="${livro.id}"></td>
						<td th:text="${livro.titulo}"></td>
						<td th:text="${livro.autor}"></td>
						<td th:text="${livro.genero}"></td>
						<td th:text="${livro.qtdPaginas}"></td>
						<td th:text="${livro.preco}"></td>
						<td>
							<button>
								<a th:href="@{/livro/editar(id=${livro.id})}">Editar</a>
							</button>
							<button>
								<a th:href="@{/livro/deletaPorTitulo(titulo=${livro.titulo})}">Excluir</a>
							</button>
						</td>
					</tr>
				</table>
			</div>

			<div th:if="${livro_edit != null}">

				<h1>Atualizar Livro</h1>
				<form action="#" th:action="@{/livro/atualizar}" th:object="${livro_edit}" method="post">
					<fieldset>
						<legend>Insira os valores</legend>
						<p hidden>
							<label for="Titulo">Título</label> <input type="text" name="titulo" id="titulo"
								th:value="*{titulo}" required />
						</p>
						<p>
							<label for="Autor">Nova autor</label> <input type="text" name="autor" id="autor"
								th:value="*{autor}" />
						</p>
						<p>
							<label for="Genero">Novo gênero</label> <input type="text" name="genero" id="genero"
								th:value="*{genero}" />
						</p>
						<p>
							<label for="qtdPaginas">Nova quantidade de páginas</label> <input type="number"
								name="qtdPaginas" id="qtdPaginas" th:value="*{qtdPaginas}" min="1" />
						</p>
						<p>
							<label for="Preco">Novo preço</label> <input type="number" name="preco" id="preco"
								th:value="*{preco}" min="1" />
						</p>
						<p>
							<button type="submit">Atulizar</button>
						</p>

					</fieldset>
				</form>

			</div>
		</main>
	</div>
</body>

</html>